body {
    background-color: #FAFFFA;
    font-family: 'Ubuntu';
}

ul {
	text-align: center;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    margin: 10px;
}

.cards_grid {
    max-width: 840px;
    margin: auto;
}

.card_container {
    position: relative;
    width: 243px;
    height: 207px
}

.card_image {
    width: 100%;
    height: 100%;
}

.card_overlay {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    box-shadow: 3px 3px 15px black;
    background-image: linear-gradient(to bottom, transparent 0%, black 100%);
    transition: 0.3s ease;
}

.card_container:hover .card_overlay {
    opacity: 0.8;
}

.card_title {
    position: absolute;
    bottom: -4px;
    left: 50px;
    color: white;
}

.card_flag {
    position: absolute;
    bottom: 10px;
    left: 20px;
}
